@font-face {
    font-family: arimo;
    src: url(./fonts/Arimo-Regular.ttf);
}

@font-face {
    font-family: figtree;
    src: url(./fonts/Figtree-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: figtree;
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
}

.brand img {
    width: 40px;
    height: 40px;
}

.brand span {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.main-nav {
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.main-nav a:hover {
    color: #ff6347;
}

.cta {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    font-family: arimo;
    font-size: 8rem;
    font-weight: 900;
    color: white;
    margin: 2vh;
    word-spacing: 0.6rem;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    color: white;
}

.filter {
    padding: 10px 20px;
    background-color: rgb(28, 27, 27);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
}

.active {
    background-color: #ff6347;
}


.blog-grid {
    min-height: 60vh;
    width: 95vw;
    margin: 0 2.5vw;
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
    justify-content: center;}

.card-content {
    min-height: 60vh;
    width: 30vw;
    background-color: rgb(28, 27, 27);
    color: white;
    border-radius: 20px;
    gap: 1vh;
    padding-bottom: 2vh;
}

.card-content img {
    width: 100%;
    height: 40vh;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-position:center;
    border-radius: 25px;

}

.card-content:nth-child(2) img{
    object-position: 0% 30%;
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff6347;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
    margin: 10px;
}

.card-content h2 {
    font-size: 1.6rem;
    margin: 10px;
    letter-spacing: 0.1.5rem;
}

.card-content time {
    font-size: 0.8rem;
    color: gray;
    margin: 0 10px;
}